/* style.css */
/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif; /* Update to a modern, clean font */
}

body {
    background-color: #f7f9fc;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    color: #333;
}

/* Header Styles */
.header {
    width: 100%;
    background-color: #1a202c;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header a.logo {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

.header-right {
    float: right;
}

.header a:hover {
    background-color: #2d3748;
    color: #f7fafc;
}

.header a.active {
    background-color: #38a169;
    color: white;
}

/* Workout Selection and Split Creation Container */
.workout-selection {
    margin-top: 80px; /* space below the fixed header */
    display: flex;
    justify-content: center; 
    padding: 40px 0;
    background-color: #edf2f7;
}

.workout-selection-box {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    width: 900px;
    justify-content: space-between;
}

/* Form Styling */
form {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.dropdown {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #cbd5e0;
    border-radius: 6px;
    background-color: #e2e8f0;
    font-size: 16px;
    color: #2d3748;
}

/* General Button Styling */
button {
    background-color: #38a169;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2f855a;
}

/* Login Container */
.login-container {
    margin-top: 150px;
    text-align: center;
}

.login-box {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #2d3748;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #4a5568;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #cbd5e0;
    border-radius: 6px;
    font-size: 16px;
}

/* Error and Link Styles */
.links {
    margin-top: 20px;
    font-size: 14px;
}

.links a {
    text-decoration: none;
    color: #3182ce;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.links a:hover {
    text-decoration: underline;
    color: #2b6cb0;
}

.error {
    color: #e53e3e;
    margin-top: 10px;
}