/* style.css */
/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif; 
}

:root {
  --gradient: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(103, 71, 53), rgb(255, 220, 145));
}

body {
    background: var(--gradient); /* Apply the gradient */
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    color: #333;
    background-attachment: fixed; /* Ensure the background stays fixed while scrolling */
}

/* Header Styles */
.header {
    width: 100%;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header a {
    float: center;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header a.logo {
    float: center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

.header-right {
    float: center;
}

.header a:hover {
    background-color: #2d3748;
    color: #f7fafc;
}

.header a.active {
    background-color: #3081e5;
    color: white;
}

/* Workout Selection and Split Creation Container */
.workout-selection {
    margin-top: 80px; 
    display: flex;
    justify-content: center; 
    padding: 20px 20px;
}

.workout-selection-box {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    width: 900px;
    justify-content: space-between;
}

/* Form Styling */
form {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.dropdown {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #cbd5e0;
    border-radius: 6px;
    background-color: #e2e8f0;
    font-size: 16px;
    color: #2d3748;
}

/* General Button Styling */
button {
    background-color: #ca5a15;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container {
    display: flex;
    justify-content: center;
}

button:hover {
    background-color: #ca4b15;
}

/* Login Container */
.login-container {
    display: flex;
    justify-content: center; 
    margin-top: 150px;
    text-align: center;
}

.login-box { 
    background-color: rgba(104, 100, 97, 0.282);
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px #aeaaa780;
    width: 400px;
}

.sign-in {
    background-color: #ca5a15;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto; /* Center horizontally */
    display: block; /* Ensure the button is treated as a block-level element */
}

/* Center the button inside the form container */
.sign-in-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center elements vertically */
    align-items: center; /* Center elements horizontally */
    width: 100%; /* Make sure container spans full width */
    height: auto; /* Set height if needed */
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #ffffff;
}

label {
    display: flex;
    margin-bottom: 10px;
    font-size: 14px;
    color: #ffffff;
}

input[type="text"], input[type="password"] {
    width: 320px;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #cbd5e0;
    border-radius: 6px;
    font-size: 16px;
}
/* Error and Link Styles */
.links {
    margin-top: 20px;
    font-size: 14px;
}

.links a {
    text-decoration: none;
    color: #3182ce;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.links a:hover {
    text-decoration: underline;
    color: #2b6cb0;
}

.error {
    color: #e53e3e;
    margin-top: 10px;
}